<!DOCTYPE html>
<html>
  <head>
    <title>Scholarships</title>
    <!-- <link rel="stylesheet" href="styles/header.css">
    <link rel="stylesheet" href="styles/general.css">
    <link rel="stylesheet" href="styles/sidebar.css">
    <link rel="stylesheet" href="styles/table.css"> -->

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/header.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/general.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/table.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/pagination.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/form.css')}}">



    <!--Fira Code Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- Roboto Serif Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@1,8..144,500;1,8..144,700&display=swap" rel="stylesheet">

    <!-- Google Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">



  </head>
  
  <body class="scholarship-body">
    
    <!-- Header -->
    <header class="header">
      <div class="header-left-section">
        <!-- <img class="header-menu-logo" src="{{ url_for('static', filename='icons/Hamburger-menu.svg')}}"> -->
        <!-- <img class="header-title-SHL" src="icons/Scholarship-Hat-Logo.svg"> -->
        <img class="header-title-SHL" src="{{ url_for('static', filename='icons/Scholarship-Hat-Logo-Solid.svg')}}">
        <div class="header-title">Scholar Helper</div>
      </div>
      <div class="header-right-section">
        <!-- <a href="index.html" class="">Home</a>
        <a href="scholarships.html" class="header-active">Scholarships</a>
        <a href="about.html" class="">About</a> -->

        <a href="index" class="">
          <div class="header-RS-icon-container">
            <!-- Home -->
            <img class="header-RS-icons" src="{{ url_for('static', filename='icons/home-icon.svg')}}">
            <div class="tooltip">Home</div>
          </div>
        </a>
        
        <a href="about" class="">
          <div class="header-RS-icon-container">
            <!-- About -->
            <img class="header-RS-icons" src="{{ url_for('static', filename='icons/AboutUs-Info-Icon.svg')}}">
            <div class="tooltip">About</div>
          </div>
        </a>
        
        <a href="search" class="">
          <div class="header-RS-icon-container">
            <!-- Search Scholarships -->
            <img class="header-RS-icons" src="{{ url_for('static', filename='icons/Search-icon.svg')}}">
            <div class="tooltip">Search</div>
          </div>
        </a>

        <a href="scholarships" class="header-active">
          <div class="header-RS-icon-container">
            <!-- Scholarships -->
            <img class="header-RS-icons" src="{{ url_for('static', filename='icons/Scholarship-Hat-Logo.svg')}}">
            <div class="tooltip">Scholarships</div>
          </div>
        </a>
        
        <a href="contact_us" class="header-RS-ContactUs-icon">
          <div class="header-RS-icon-container">
            <!-- Contact Us -->
            <img class="header-RS-icons" src="{{ url_for('static', filename='icons/About-Us-icon.svg')}}">
            <div class="tooltip">Contact Us</div>
          </div>
        </a>
        

      </div>
    </header>


    <!-- Nav-Side Bar -->

    <!-- TODO : Implement .sidebar-active classes with anchor tag to link html files -->
    <!-- <nav class="sidebar">
      <a href="scholarships" class="">
        <div class="sidebar-links">
          <img src="{{ url_for('static', filename='icons/Search-Icon.svg')}}">
          <div>Search</div>
        </div>
      </a>

      <a href="government_funded" class="">
        <div class="sidebar-links sidebar-active">
          <img src="{{ url_for('static', filename='icons/Gov-Fun-Sch.svg')}}">
          <div>Government Funded</div>
        </div>
      </a>
      
      <a href="private_funded" class="">
        <div class="sidebar-links">
          <img src="{{ url_for('static', filename='icons/Pri-Fun-Sch.svg')}}">
          <div>Private Funded</div>
        </div>
      </a>
      
      <a href="scholarships_for_women" class="">
        <div class="sidebar-links">
          <img src="{{ url_for('static', filename='icons/Female-logo.svg')}}">
          <div>Scholarships for Women</div>
        </div>
      </a>
      
      <a href="international_scholarships" class="">
        <div class="sidebar-links">
          <img src="{{ url_for('static', filename='icons/International-Sch-Logo.svg')}}">
          <div>International Scholarships</div>
        </div>
      </a>
      

    </nav> -->

    <!-- Main Body Content -->
    <main>
      <section class="table-container">
        <h1 class="table-container-heading">Browse Scholarships</h1>
        

        <!-- <form method="get" action="/government_funded"> -->
        <form method="get" action="#">
        <!-- <form method="post"> -->
          <fieldset>
          <legend>Sort and Filter</legend>
          <!-- <div> -->
          <select id="category" name="category">
              <option value="no_cat">Select Category :- </option>
              <option value="international">International Scholarships</option>
              <option value="international_always_open">International Scholarships Always Open</option>
              <option value="girls">Scholarships for Women and Girls</option>
              <option value="government_upcoming">Government Upcoming Scholarships</option>
          </select>
          <select id="sort" name="sort">
              <option value="no_sort">Select Order :- </option>
              <option value="title_ascending">Title Ascending</option>
              <option value="title_descending">Title Descending</option>
          </select>
          <!-- </div> -->
          <input type="submit" value="Apply">
        </fieldset>
        </form>
        <!--<h4 class="table-container-note">Please kindly note that the values shown in the Amount Provided column are in Indian Rupees!</h4>-->
        
        {% if Data.items %}
        
        <table class="content-table">
          <thead>
            <tr>
              <th></th>
              <th>Scholarship Name</th>
              <th>Eligibility</th>
              <th>Benefits</th>
              <!-- <th class="amount-provided-column-data">Benefits</th> -->
              <th>Region</th>
              <th>Deadline</th>
              <th>Source</th>
              <th>Category</th>
              <th>Link</th>
            </tr>
          </thead>
          <tbody>
            
            
            {% for schols in Data.items %}
              {#
                {% include 'display.html' %}
              #}
              <tr>
                <td>{{ loop.index + Data.per_page*(Data.page-1) }}</td>
                <td>{{ schols.title }}</td>
                <td>{{ schols.eligibility }}</td>
                <td>{{ schols.benefits }}</td>
                <td>{{ schols.region }}</td>
                <td>{{ schols.deadline }}</td>
                <td>{{ schols.source }}</td>
                <td>{{ schols.category }}</td>
                <td><a href="{{ schols.url }}" target="_blank" >Click Here</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <div class="pagination-container">
        <div class="pagination">
          {% if Data.has_prev %}
              <!-- <span> -->
                  <a class='page-number' href="{{ url_for('scholarships', category=Cat, sort=Sort, page=Data.prev_num) }}">
                      &laquo;
                  </a>
              <!-- </span> -->
          {% endif %}
      
          {% for number in Data.iter_pages() %}
              {% if number %}
                  {% if Data.page != number %}
                      <!-- <span> -->
                        <a class='page-number'
                            href="{{ url_for('scholarships', category=Cat, sort=Sort, page=number) }}">
                        {{ number }}
                        </a>
                      <!-- </span> -->
                  {% else %}
                      <a class='current-page-number'>{{ number }}</a>
                  {% endif %}
              {% else %}
                  <a class='page-number ellipsis'>…</a>
              {% endif %}
              
          {% endfor %}
      
          {% if Data.has_next %}
              <!-- <span> -->
                  <a class='page-number'
                      href="{{ url_for('scholarships', category=Cat, sort=Sort, page=Data.next_num) }}">
                      &raquo;
                  </a>
              <!-- </span> -->
          {% endif %}
        </div>
        </div>
        {% else %}
          <h2>No Data Found for category :- {{ Cat }}</h2>
        {% endif %}
      </section>
    </main>


  </body>
</html>